@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  box-sizing: border-box;

}
